@font-face {
    font-family: customFont;
    src: url(../fonts/DroidKufi-Regular.woff);
}
@font-face {
    font-family: customFont2;
    src: url(../fonts/DroidKufi-Bold.woff);
}
* {
    box-sizing: border-box;
    font-family:customFont !important;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
	}
img{
	border:none;
	}
.fixc {
	position: fixed !important;
	top: 0px;
	z-index:100;
}
html, body{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	font-family:customFont;
	font-size:100%;
	text-align:right;
	}
.main_container{
	width:100%;
	height:100%;
	min-width:1205px;
	position:relative;
	}
.header{
	width:100%;
	}
.header_top_sec{
	padding:10px;
	}
.nav{
	width:100%;
	height:50px;
	background-color:#01c7f1;
	}
.inner_slider{
	position:relative;
	height:180px;
	width:100%;
	background-color:#CCC;
	}
.slider_address{
	position:absolute;
	right:10px;
	top:20px;
	z-index:5;
	}
.slider_img{
	
	}
.logo{
	width:250px;
	float:left;
	}
.logo img{
	width:240px;
	}
.start_up_menu{
	float:right;
	padding-top:10px;
	}
.start_up_menu ul{}
.start_up_menu ul li:first-child {
	padding-right:0px;
} 
.start_up_menu ul li{
	float:right;
	height: 35px;
	padding: 0px 10px;
	}
.start_up_menu ul li a{
	color:#666;
	text-decoration:none;
	font-size:100% !important;
	}
.start_up_menu ul li a:hover{
	color:#01c7f1;
	}
.only_dr{
	color:#01c7f1;
	background-color:#ea080d;
	height:30px;
	}
.clr{
	clear:both;
	}
.nav ul li{
	float:right;
	height: 35px;
	padding: 0px 10px;
	line-height:50px;
	}
.nav ul li a{
	color:#fff;
	text-decoration:none;
}
.nav ul li a:hover{
	color:#007aa4;
	}
.activ{
	color:#007aa4 !important;
	}
.page_con{
	width:100%;
	height:auto;
	overflow:hidden;
	}
.page_data{
	width: calc(100% - 300px);
	width: moz-calc(100% - 300px);
	height:auto;
	float:right;
	position:relative;
	padding-bottom: 500em;
    margin-bottom: -500em;
	}
.left_ads{
	float:left;
	width:300px;
	height:auto;
	background-color:#D1F6FC;
	padding-bottom: 500em;
    margin-bottom: -500em;
	}
.footer{
	width: 100%;
	height: 140px;
	}
.right_footer{
	background-color: #007aa4;
	width: calc(100% - 300px);
	width: moz-calc(100% - 300px);
	float:right;
	height: 100%;
	}
.left_footer{
	background-color:#D1F6FC;
	width:300px;
	float:left;
	height: 100%;
	}
.ui-inputfield{
display: block !important;
width: 100% !important;
height: 37px !important;
padding: 3px 12px !important;
font-size: 16px !important;
line-height: 1.42857 !important;
color: #555 !important;
background-color: #fff !important;
background-image: none !important;
border: 1px solid #9aabbd !important;
border-radius: 3px !important;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
box-shadow: none !important;
text-align: right !important;
}
.ui-button{
overflow: hidden;
}
.calen input{
width: 86% !important;
display: inline-block !important;

}
.calen2 input{
width: 89% !important;
display: inline-block !important;

}
	
/*********---------- Login -------------**********/
.login_container{
	margin: auto;
	min-width: 1024px;
	max-width: 100%;
	height: 100%;
	min-height: 500px;
	position: relative;
	background: transparent url(../img/akshf-feen-bg.jpg) repeat-x fixed center 90%;
}
.login_data{
	width:350px;
	height:300px;
	margin:auto;
	color:#9aabbd;
	padding-top:30px;
	}
.login_data table{
	width:100%;
	direction:rtl;
}
.login_data table td{
	height:50px;
	vertical-align:top;
	padding:10px 20px;
}
.login_data img{
	width:300px;
	}
.login_data .txt_input{
	height:50px !important;
	}
.login_data a{
	color:#01C7F1;
	font-size:14px;
	}
.login_data a:hover{
	color:#0299c4;
	}
.login_data .btn{
	margin-top:15px;
	background-color:#01C7F1;
	height:40px;
	text-align:center;
	width:130px;
	border:solid 1px #0299c4;
	border-radius:5px;
	font-size:14px;
	color:#fff;
	font-family:customFont;
	cursor:pointer;
	}
.btn{
	margin-top:15px;
	background-color:#01C7F1;
	height:40px;
	text-align:center;
	width:130px;
	border:solid 1px #0299c4;
	border-radius:5px;
	font-size:14px;
	color:#fff;
	font-family:customFont;
	cursor:pointer;
	}
.login_data p{
	font-size:11px;
	}
	.login_data p a{
	font-size:11px;
	}
.doctor{
	background-color:#F1222F !important;
	width:275px !important;
	border:#F1222F !important;
	}
.profile_name{
	text-decoration:underline !important;
	color:#01C7F1 !important;
	}
.profile_data{
	width:100%;
	background:url(../img/profile-bg.jpg) repeat-x top center;
	height:200px;
	position:relative;
	}
.profile_img{
	height:120%;
	width:25%;
	position:absolute;
	top:0px;
	right:0px;
	text-align:center;
	}
.profile_img_bg{
	background:url(../img/profile-bg2.jpg) repeat-x top right;
	height:100%;
	width:14%;
	float:right;
	}
.profile_img img{
	border-radius: 50%;
	width: 210px;
	margin:20px auto;
	background: #fff none repeat scroll 0% 0%;
	border: #f1f2f8 solid 7px;
	}
.profile_links{
	height:100%;
	width:52%;
	float:right;
	margin-right:11%;
	}
.profile_progress{
	height:120%;
	width:23%;
	position:absolute;
	top:0px;
	left:0px;
	text-align:center;
	}
.profile_progress p{
	margin:0px;
	padding:10px 0px 0px 5px;
	font-size:18px;
	color:#666;
	}
.profile_progress img{
	border-radius: 50%;
	width: 185px;
	margin:0px auto 10px;
	background: #fff none repeat scroll 0% 0%;
	}
.profile_progress_bg{
	background:url(../img/profile-bg2.jpg) repeat-x top right;
	height:100%;
	width:14%;
	float:left;
	}
.profile_user_name{
	width:100%;
	height:150px;
	padding-top:40px;
        text-align:right;
	}
.profile_user_links{
	width:100%;
	height:50px;
	background-color:#D1F6FC;
	}
.profile_user_links a{
	line-height:50px;
	text-decoration:none;
	color:#666;
	font-size:14px;
	float:right;
	margin-right:15px;
	}
.profile_user_links a:hover{
	text-decoration:underline;
	color:#007aa4;
	}
.profile_user_links a:first-child{
	margin-right:0px;
	}
.profile_user_links img{
		vertical-align: middle;
	}
.profile_user_name h3{
	font-size:25px;
	color:#007aa4;
	margin:0px;
	padding:0px;
	}
.profile_user_name p{
	font-size:18px;
	color:#999;
	margin:0px;
	padding:0px;
	}
.active_email{
width:100%; height:50px; background-color:#F00; text-align:center; line-height:50px; 
	}
.active_email a{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
.active_email a:hover{
	color:#fff;
	text-decoration:underline;
}

.tble_data{
	width:100%;
	margin:auto;
	direction:rtl;
	text-align:right;
	}
.tble_data td{
	padding:20px;
	}
.update_profile{
	width:100%; height:70px; line-height:50px; text-align:left; padding-left:20px;
	}
form{
height:100%;
}
	
@media screen and (min-width: 1400px) {
	
		}
		
		
		
/******* new ********/
.content .content_header{
	width: 100%;
height: 230px;
position: relative;
padding:20px;
	}
	
	
.content .content_img_bg{
	background:url(../img/profile-bg2.jpg) repeat-x top right;
	height:100%;
	width:200px;
	float:right;
	margin-left:20px;
	margin-right:10px;
	}
.content .content_img_bg img{
	width: 210px;
	border: #f1f2f8 solid 7px;
	background:#CCC;
	}
.content h1{
		color:#007aa4;
		text-align: right;
padding: 0px;
margin: 0px;
font-size:30px;
		}
.content h2{
		color:#0788a9;
		text-align: right;
padding: 0px;
margin: 0px;
font-size:25px;
margin-bottom:20px;
		}
.content h3{
		color:#0788a9;
		text-align: right;
padding: 0px;
margin: 0px;
font-size:15px;
		}
		
.content .content_header p{
	margin:10px;
	}


.content .hor_content_con
{
	margin-bottom:20px;
	width:100%;
	height:130px;
	}
.content .hor_content_con .img_con{
	width: 31%;
height: 130px;
position: relative;
background: #CCC none repeat scroll 0% 0%;
float: right;
	}
.content .hor_content_con .client_logo{
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:#F00;
	width:40px;
	height:40px;
	}
.content .hor_content_con .data_con{
	height: 130px;
	width:68%;
	float:left;
	}
.content .hor_content_con .data_con p{
	margin: 0px;
padding: 0px;
text-align: right;
color: #666;
line-height: 20px;
font-size: 14px;
direction: rtl;
	}
.content .hor_content_con .rating{
	width:70%;
	height:30px;
	padding:10px;
	float:right;
	}
.content .hor_content_con .read{
	width:30%;
	height:30px;
	margin-top:0px;
	background:#01c7f1;
	text-align:center;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	line-height:30px;
	display:block;
	}
.content .hor_con_items{
	height:450px;
	overflow:hidden;
	}
	.hor_con_items:hover{
	height:450px;
	overflow:auto;
	}
	
	
.content .comment_con
{
	margin-bottom:20px;
	width:100%;
	min-height:100px;
	margin-bottom:20px;
	}
.content .comment_con .img_con{
	width: 90;
height: 90px;
position: relative;
float: right;
	}
.content .comment_con .img_con img{
	border-radius: 50%;
	width: 90px;
	background: #fff none repeat scroll 0% 0%;
	border: #f1f2f8 solid 7px;
	}
.content .comment_con .data_con{
	height: 90px;
	width:75%;
	float:left;
	}
.content .comment_con .data_con p{
	margin: 0px;
padding: 0px;
text-align: right;
color: #666;
line-height: 20px;
font-size: 14px;
direction: rtl;
	}
.srch_txt{
height: 40px;
width: 350px;
border: 1px solid rgb(1, 199, 241);
border-radius: 10px;
margin-left:10px;
}

.slider_bg{
background:url(../img/slider-bg.jpg) repeat-x center top;
}
.ui-datagrid-data td{
margin: 15px;
border: 1px solid #01C7F1;
display: inline-block;
width: 30%;
}
.ui-widget-content {
    border: none !important;
    }
.data_con h2{
		color:#0788a9;
		text-align: right;
padding: 0px;
margin: 0px;
margin-right:10px;

font-size:20px;
		}
.data_con .rating{
width: 80px;
height:30px;
margin: auto;
}

.data_con p{
text-align: right;
margin-right: 10px;
}

.data_con .read{
width:100%;
	height:45px;
	margin-top:0px;
	background:#01c7f1;
	text-align:center;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	line-height:45px;
	display:block;
	}

